<div class="container mx-auto p-4 flex flex-col items-center justify-center min-h-screen">
  <div *ngIf="isHomeRoute()" class="text-center">
    <h1 class="text-3xl font-bold mb-4">F1 Race Strategy Manager</h1>

    <mat-form-field appearance="fill" class="w-full max-w-xs mb-4">
      <mat-label>Número de Vueltas</mat-label>
      <input matInput type="number" [(ngModel)]="maxLaps" min="1" (ngModelChange)="error = null">
    </mat-form-field>

    <div class="mb-4">
      <h2 class="text-xl font-semibold mb-2">Selecciona un Piloto</h2>
      <div class="flex flex-wrap justify-center">
        <button mat-raised-button color="primary" *ngFor="let pilot of pilots" 
                [class.bg-blue-700]="selectedPilotId === pilot.id"
                class="m-2" (click)="selectPilot(pilot.id)">
          {{ pilot.name }} ({{ pilot.team }})
        </button>
      </div>
    </div>

    <div *ngIf="error" class="text-red-500 mb-4">{{ error }}</div>
  </div>

  <router-outlet></router-outlet>
</div>